<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org/"/>
<head>
    <meta charset="ISO-8859-1">
    <title>Access denied page</title>
    <link href="${contextPath}/static/css/style.css"  rel="stylesheet" >
</head>
<body>
<h3> Access denied - You have not authorized to access this resource </h3>

<h3>Redirect to your home page after <span id="runner" class="red">10</span> seconds</h3>

<hr>

<p>
    <a id="back" th:href="@{/room/showRooms}">Back to Home Page</a>
</p>

<script>
    let counter = 10;
    let interval = setInterval(() => {
        counter--;
        document.querySelector("#runner").textContent = counter;
        if (counter === 0) {
            window.location.href ="http://localhost:8080/room/showRooms";
            clearInterval(interval);
        }
    }, 1000);
</script>
</body>
</html>